--format documentation
--color
--exclude-pattern ./spec/orca_api/**/{statistics_form_service,perscription_print_service,patient_service,patient_search_service,patient_mod_service,income,health_public_insurance,all_health_insurances,accident_insurance,master_export_service}_spec.rb
